html,
body {
  padding: 0;
  color: #6F6E73;
  margin: 0 !important;
  font-family: 'Manrope', sans-serif;;
}

a {
  color: inherit;
  text-decoration: none;
}

/* * {
  box-sizing: border-box;
} */
/* 
.codeVerification > *{
margin-right: 10px;
} */